openapi: 3.2.0
info:
  title: ReCode Therapeutics Content Discovery API
  version: 1.0.0
  summary: The anonymously readable WordPress REST content API behind recodetx.com.
  description: ReCode Therapeutics runs no developer program and markets no product API.
  contact:
    name: ReCode Therapeutics
    url: https://recodetx.com/
  license:
    name: Not stated
    url: https://recodetx.com/terms-conditions/
  x-derived-from: https://recodetx.com/wp-json/
  x-verified: '2026-08-05'
  x-upstream-contract: https://developer.wordpress.org/rest-api/
servers:
- url: https://recodetx.com/wp-json
  description: Production WordPress REST API for recodetx.com (WP Engine, fronted by Cloudflare).
tags:
- name: Discovery
  description: Route index and namespace metadata the install publishes about itself.
paths:
  /:
    get:
      operationId: getApiIndex
      tags:
      - Discovery
      summary: Get the API root index
      description: Returns the site's self-description plus the full registered route index — 376 routes across 16 namespaces — and the authentication methods the install advertises (application passwords, whose authorization endpoint is wp-admin only).
      responses:
        '200':
          description: The root discovery document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootIndex'
  /wp/v2:
    get:
      operationId: getNamespaceIndex
      tags:
      - Discovery
      summary: Get the wp/v2 namespace index
      description: Returns the routes registered under the wp/v2 namespace only.
      responses:
        '200':
          description: Namespace index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceIndex'
components:
  schemas:
    Links:
      type: object
      description: HAL-style link relations. `self`, `collection`, `about`, `author`, `replies`, `wp:featuredmedia`, `wp:attachment`, `wp:term`, and `curies` mapping the `wp:` prefix.
      additionalProperties: true
    RootIndex:
      type: object
      description: The site's self-description plus the full registered route index.
      properties:
        name:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        home:
          type: string
          format: uri
        gmt_offset:
          type: number
        timezone_string:
          type: string
        namespaces:
          type: array
          items:
            type: string
        authentication:
          type: object
          description: Advertises `application-passwords` with a wp-admin authorization endpoint. That is an interactive administrative flow, not a public API credential — no anonymous consumer can obtain one.
        routes:
          type: object
          additionalProperties:
            type: object
        _links:
          $ref: '#/components/schemas/Links'
    NamespaceIndex:
      type: object
      properties:
        namespace:
          type: string
        routes:
          type: object
          additionalProperties:
            type: object
        _links:
          $ref: '#/components/schemas/Links'
