openapi: 3.2.0
info:
  title: ReCode Therapeutics Content Search API
  version: 1.0.0
  summary: The anonymously readable WordPress REST content API behind recodetx.com.
  description: ReCode Therapeutics runs no developer program and markets no product API.
  contact:
    name: ReCode Therapeutics
    url: https://recodetx.com/
  license:
    name: Not stated
    url: https://recodetx.com/terms-conditions/
  x-derived-from: https://recodetx.com/wp-json/
  x-verified: '2026-08-05'
  x-upstream-contract: https://developer.wordpress.org/rest-api/
servers:
- url: https://recodetx.com/wp-json
  description: Production WordPress REST API for recodetx.com (WP Engine, fronted by Cloudflare).
tags:
- name: Search
  description: Cross-content search across every REST-exposed post type.
paths:
  /wp/v2/search:
    get:
      operationId: searchContent
      tags:
      - Search
      summary: Search across every REST-exposed post type
      description: Returns lightweight hits (id, title, url, type, subtype) across posts and the custom types. A search for `mrna` returned 79 hits spanning the `post` and `events` subtypes at verification. Use `subtype` to constrain to one collection.
      parameters:
      - name: search
        in: query
        required: true
        description: The search term.
        schema:
          type: string
      - name: type
        in: query
        description: Object type to search — `post` (any post type) or `term`.
        schema:
          type: string
          enum:
          - post
          - term
          default: post
      - name: subtype
        in: query
        description: Restrict to a registered subtype, e.g. `post`, `page`, `events`, `values`.
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: Search hits.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
components:
  parameters:
    perPage:
      name: per_page
      in: query
      description: Items per page. Maximum 100 — a request for 101 is rejected with 400 `rest_invalid_param` (verified 2026-08-05).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    page:
      name: page
      in: query
      description: 1-based page of the collection to return.
      schema:
        type: integer
        minimum: 1
        default: 1
  headers:
    XWPTotalPages:
      description: Total number of pages available at the current per_page.
      schema:
        type: integer
    XWPTotal:
      description: Total number of items in the unpaged collection.
      schema:
        type: integer
  schemas:
    SearchResult:
      type: object
      description: A lightweight cross-type search hit.
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
          enum:
          - post
          - term
        subtype:
          type: string
          description: The registered post type the hit came from, e.g. `post`, `events`.
        _links:
          $ref: '#/components/schemas/Links'
      required:
      - id
      - title
      - url
      - type
      - subtype
    Links:
      type: object
      description: HAL-style link relations. `self`, `collection`, `about`, `author`, `replies`, `wp:featuredmedia`, `wp:attachment`, `wp:term`, and `curies` mapping the `wp:` prefix.
      additionalProperties: true
