openapi: 3.2.0
info:
  title: ReCode Therapeutics Content People API
  version: 1.0.0
  summary: The anonymously readable WordPress REST content API behind recodetx.com.
  description: ReCode Therapeutics runs no developer program and markets no product API.
  contact:
    name: ReCode Therapeutics
    url: https://recodetx.com/
  license:
    name: Not stated
    url: https://recodetx.com/terms-conditions/
  x-derived-from: https://recodetx.com/wp-json/
  x-verified: '2026-08-05'
  x-upstream-contract: https://developer.wordpress.org/rest-api/
servers:
- url: https://recodetx.com/wp-json
  description: Production WordPress REST API for recodetx.com (WP Engine, fronted by Cloudflare).
tags:
- name: People
  description: Author records. Personal data — read the x-personal-data annotation before use.
paths:
  /wp/v2/users:
    get:
      operationId: listUsers
      tags:
      - People
      summary: List site authors
      description: Returns 200 with 5 author records anonymously — author enumeration is left open on this install. Each record carries `id`, `name`, `slug`, `description`, `link`, `url` and Gravatar `avatar_urls`. Email addresses and roles are NOT exposed.
      x-personal-data:
        contains: true
        categories:
        - name
        - public-profile-url
        - avatar
        note: This operation returns records about identifiable people. API Evangelist documents its existence because it is part of the observed public surface, but deliberately packages no agent skill and no MCP tool against it, and records no individual from it anywhere in this repository. Consumers in the EU/UK should treat any retrieval as personal-data processing.
        remediation: If ReCode Therapeutics does not intend author enumeration to be public, the `wp/v2/users` collection can be closed to unauthenticated callers with a `rest_authentication_errors` or `rest_endpoints` filter, or via the WP Engine / security-plugin setting that disables user enumeration.
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Author records.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /wp/v2/users/{id}:
    get:
      operationId: getUser
      tags:
      - People
      summary: Get a single author record
      x-personal-data:
        contains: true
        note: See the x-personal-data annotation on listUsers.
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The author record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: No author with that ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    perPage:
      name: per_page
      in: query
      description: Items per page. Maximum 100 — a request for 101 is rejected with 400 `rest_invalid_param` (verified 2026-08-05).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    id:
      name: id
      in: path
      required: true
      description: The object's unique numeric identifier.
      schema:
        type: integer
    fields:
      name: _fields
      in: query
      description: Comma-separated sparse-fieldset projection, e.g. `_fields=id,slug,title`. Applies to every collection and item operation.
      schema:
        type: string
    page:
      name: page
      in: query
      description: 1-based page of the collection to return.
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    User:
      type: object
      description: A site author. PERSONAL DATA — see the x-personal-data annotation on listUsers before retrieving or storing these records.
      properties:
        id:
          type: integer
        name:
          type: string
          description: The author's display name.
        slug:
          type: string
        description:
          type: string
        url:
          type: string
        link:
          type: string
          format: uri
        avatar_urls:
          type: object
          description: Gravatar URLs keyed by pixel size.
        meta:
          type: object
        _links:
          $ref: '#/components/schemas/Links'
      required:
      - id
      - name
      - slug
    Error:
      type: object
      description: The WordPress REST error envelope. NOT RFC 9457 — the media type is `application/json`, not `application/problem+json`, and the field names are WordPress-specific.
      properties:
        code:
          type: string
          description: A machine-readable WordPress error slug, e.g. `rest_forbidden`.
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
      required:
      - code
      - message
    Links:
      type: object
      description: HAL-style link relations. `self`, `collection`, `about`, `author`, `replies`, `wp:featuredmedia`, `wp:attachment`, `wp:term`, and `curies` mapping the `wp:` prefix.
      additionalProperties: true
  headers:
    XWPTotal:
      description: Total number of items in the unpaged collection.
      schema:
        type: integer
