openapi: 3.2.0
info:
  title: ReCode Therapeutics Content Discovery API
  version: 1.0.0
  summary: The anonymously readable WordPress REST content API behind recodetx.com.
  description: 'ReCode Therapeutics runs no developer program and markets no product API. The only machine-readable contract reachable from the public internet without credentials is the WordPress REST API registered at https://recodetx.com/wp-json/, which the site publishes as a consequence of running WordPress on WP Engine behind Cloudflare.


    This document is DERIVED by the API Evangelist enrichment pipeline from the route index the site itself publishes at https://recodetx.com/wp-json/ (376 routes across 16 namespaces) and was verified against live anonymous responses on 2026-08-05. **Only operations that actually returned data without credentials are modelled here.** Everything write-side (POST/PUT/PATCH/ DELETE on every collection), and the administrative namespaces the site also registers (`aioseo/v1`, `elementor/v1`, `elementor-pro/v1`, `elementor-ai/v1`, `redirection/v1`, `wpe_sign_on_plugin/v1`, `wp-site-health/v1`, `wp-block-editor/v1`, `wp-abilities/v1`), return 401 `rest_forbidden` anonymously and are deliberately omitted rather than documented as capabilities.


    What the surface actually yields: 82 press releases and publications, 18 corporate pages, a 305-item media library, two site-specific custom post types registered into `wp/v2` (`events`, 50 items — conference and investor appearances; and `values`, 6 items — the company''s stated values), the category and tag taxonomies, the registered type/status/taxonomy metadata, cross-content search, and the oEmbed 1.0 provider endpoint. Unlike many corporate WordPress installs, `content.rendered` IS populated on posts and pages here (5.7 KB on the most recent press release, 53 KB on the home page), so the API returns real prose and not just identity metadata.


    Note on `/wp/v2/users`: the site leaves author enumeration open, and the collection returns 200 with 5 author records anonymously. The operation is documented here because it is genuinely part of the observed surface, but API Evangelist deliberately packages no agent skill and no MCP tool against it, and records no individual from it. See `x-personal-data` on that operation.'
  contact:
    name: ReCode Therapeutics
    url: https://recodetx.com/
  license:
    name: Not stated
    url: https://recodetx.com/terms-conditions/
  x-derived-from: https://recodetx.com/wp-json/
  x-verified: '2026-08-05'
  x-upstream-contract: https://developer.wordpress.org/rest-api/
servers:
- url: https://recodetx.com/wp-json
  description: Production WordPress REST API for recodetx.com (WP Engine, fronted by Cloudflare).
tags:
- name: discovery
  description: Route index and namespace metadata the install publishes about itself.
paths:
  /:
    get:
      operationId: getApiIndex
      tags:
      - discovery
      summary: Get the API root index
      description: Returns the site's self-description plus the full registered route index — 376 routes across 16 namespaces — and the authentication methods the install advertises (application passwords, whose authorization endpoint is wp-admin only).
      responses:
        '200':
          description: The root discovery document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootIndex'
  /wp/v2:
    get:
      operationId: getNamespaceIndex
      tags:
      - discovery
      summary: Get the wp/v2 namespace index
      description: Returns the routes registered under the wp/v2 namespace only.
      responses:
        '200':
          description: Namespace index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceIndex'
components:
  schemas:
    Links:
      type: object
      description: HAL-style link relations. `self`, `collection`, `about`, `author`, `replies`, `wp:featuredmedia`, `wp:attachment`, `wp:term`, and `curies` mapping the `wp:` prefix.
      additionalProperties: true
    NamespaceIndex:
      type: object
      properties:
        namespace:
          type: string
        routes:
          type: object
          additionalProperties:
            type: object
        _links:
          $ref: '#/components/schemas/Links'
    RootIndex:
      type: object
      description: The site's self-description plus the full registered route index.
      properties:
        name:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        home:
          type: string
          format: uri
        gmt_offset:
          type: number
        timezone_string:
          type: string
        namespaces:
          type: array
          items:
            type: string
        authentication:
          type: object
          description: Advertises `application-passwords` with a wp-admin authorization endpoint. That is an interactive administrative flow, not a public API credential — no anonymous consumer can obtain one.
        routes:
          type: object
          additionalProperties:
            type: object
        _links:
          $ref: '#/components/schemas/Links'
